{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "globals": {
    "vitest": true
  },
  "extends": [
    "@nuxtjs/eslint-config-typescript"
  ],
  "ignorePatterns": [
    "node_modules",
    "tests"
  ]
}